html {
    margin: 8px;
    background-color: rgb(13, 13, 13);
    color: aliceblue;

}
a {
    color: blue;
}
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    text-align: center;
    color: red;
}
.enter {
    text-decoration: none;
    font-style: italic;
    color: black;
}
.homeEnter {
    padding: 3px;
    box-shadow: 0 0 2px 2px rgb(179, 23, 23);
}
button.homeEnter:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 5px rgb(179, 23, 23);
    font-size: 13.5px;
}
h1 {
    color: red;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2 {
    text-align: center;
}
h3 {
    padding-top: 10px;
    font-size: larger;
}
h6 {
    margin: 10px;
    text-align: right;
}
nav.original {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
}
.posts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(39, 21, 21);
}
.timestamp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}