html {
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-content: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 1200px;
    height: 1000px;
}

.overlay {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

a {
    color: blue;
}
#displayEnter {
    font-size: 20px;
    display: none;
}
.home {
    color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

#displayEnter {
    font-size: 20px;
    /* display: none; */
}
.enter {
    text-decoration: none;
    font-size: 15px;
    font-style: italic;
    color: black;
}
.homeEnter {
    padding: 3px;
    box-shadow: 0 0 2px 2px rgb(179, 23, 23);
}
button {
    padding: 3px;
    box-shadow: 0 0 2px 2px rgb(179, 23, 23);
}
button:hover {
    cursor: pointer;
    box-shadow: 0 0 8px 8px rgb(179, 23, 23);
    font-size: 18px;
}
.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: red;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left:20px;
}
.displayPosts {
    margin: 10px;
    padding: 10px;
}
.account {
   display: flex;
   flex-direction: row;
}
.acc {
    margin: 25px 50px;
}
.form {
    margin: 20px;
}

h2 {
    margin: 20px;
    text-align: center;
}
h3 {
    padding-top: 10px;
    font-size: larger;
}
h6 {
    margin: 10px;
    text-align: right;
}
nav.original {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
}
.posts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(40, 9, 9);
}
.timestamp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}